

/* GLOBAL */

body {
  font-family: 'Roboto Slab', serif;
  font-weight: 100;
  margin: 0;
  padding-top: 44px;
}

h1, h2, h3, h4, h5, h6, a {
  font-family: 'Roboto Condensed', sans-serif;
}

h3 {
  border-bottom: 1px solid #B31815;
  text-align: center;
  color: #B31815;
  font-size: 25px;
  line-height: 50px;
}

.block {
  float: left;
}

a {
  color: #B31815;
  text-decoration: none;
}

button {
  text-align: center;
  cursor: pointer;
  color: white;
  background-color: #B31815;
  padding: 10px 20px;
  border: none;
  box-sizing: border-box;
  font-size: 15px;
  margin: 30px;
}

/*HEADER*/

header {
  position: relative;
  background: url(images/blur-background.jpg) no-repeat center center;
  height: 100%;
  background-position: cover;
  color: white;
  text-align: center;
  padding-bottom: 40px;
}

header h1 {
  margin: 0;
  padding: 30px 0;
  font-size: 40px;
}

.navbar-nav {
  text-align: center;
  background-color: black;
  position: fixed;
  width: 100%;
  top: 0;
  margin: 0;
  padding-left: 0;
  z-index: 2;
}

.navbar-nav li, .social-media li {
  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;
}

.social-media {
  padding-left: 0;
}

.social-media li {
  font-size: 30px;
}

.social-media li:first-child {
  padding-left: 0;
}

.social-media li:last-child {
  padding-right: 0;
}

/*Avatar */

header .avatar {
  width: 150px;
  height: 150px;
  display: inline-block;
}

.rounded {
  border-radius: 50%;
}

/*NEWS*/
#news img {
  width: 100%;
}

/* Media queries: responsive */
@media (max-width:320px) {  /*small mobile*/
  header h1 {
    font-size: 15px;
  }
}

/*NAVBAR*/
.nav > li > a:hover, .nav > li > a:focus {
  background-color: black;
}

/*FORM*/
#contact-form {
  text-align: center;
  margin-top: 30px;
}

.form-input {
  margin: 30px;
}

.submit-button {
  text-align: center;
}

.submit-button button {
  margin-top: 0;
}